body{
    width: 100%;
    height: 50%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(208, 208, 208);

    
}
.header-container{
    padding: 2rem 0.5rem;
    background-color: #dfdfdf;
    border:1px solid rgb(160, 160, 160);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 0.4rem;
}
.content{
    display: flex;
    align-items: stretch;
    height: 100%;    
}
.sidebar{
    display: flex;
    flex-direction: column ;
    width: 30vw;
    background-color: #dfdfdf;
    height: 100vh;
    border: 1px solid rgb(160, 160, 160);
}
.sidebar-title{
    padding: 1rem;
    font-size: 2rem;
    border: 1px solid rgb(160, 160, 160) ;
    background-color: #fff;
  
}
.sidebar-btn{
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 15rem;
    margin: 5px 5px;

}
/*FORM*/
.form-container{
    width: 100%;
    overflow: auto;
    margin: 1.5rem;
}
.form{
    width: 50vw;
    background-color: #fff;
    margin: 0 auto;
    min-height: 50vw;
    border: 1px solid rgb(160, 160, 160) ;
    border-radius: 10px;


}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0 1rem;
}
#form-items li{
    cursor: all-scroll;
    margin: 0.5rem auto;
}
.form-item-element{
    width: 35rem;
    padding: 10px 5px;
    margin-top: 5px;
    justify-content: center;
}
